@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    min-height: 100%;
}

body {
    background-color: rgb(243, 236, 225);
}

body,
input,
button {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.container {
    margin: 80px auto 0;
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.generator {
    width: 100%;
    background: #cccc;
    border-radius: 4px;
    padding: 30px;
}

.generator>p {
    font-size: 18px;
    line-height: 30px;
}

.generator .form {
    display: flex;
    flex-direction: column;
}

.generator .form label {
    font-size: 16px;
    color: #444;
    font-weight: bold;
    margin-bottom: 8px;
}

.generator .form input {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
    height: 45px;
    padding: 0 15px;
    font-size: 16px;
    min-width: 80%;
}

.generator button.btn {
    border: 0;
    border-radius: 2px;
    width: 80%;
    height: 42px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    background: #7d9689;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
}

.generator button.btn:hover {
    background: rgb(97, 128, 116);
}

i {
    margin-left: 15px;
}

i:hover {
    color: #00fcb6;
    cursor: pointer;
}