@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



html,
body,
#root {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

body {
    background-color: #2a2a31;
    
}

.container {
    padding: 0;
    margin:0  auto;
    max-width: 500px;
    /* width: 100vh;
    height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.generator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #F4EEF4;
    border-radius: 4px;
    border-color: #8A8289;
    border-width: 50px;
    padding: 40px 30px;
    margin: auto;
}

.generator .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}


.generator .form input {
    margin: 10px 5px;
    border: 1px solid #8A8289;
    border-radius: 2px;
    height: 45px;
    padding: 0 15px;
    font-size: 18px;
    min-width: 80%;
    font-family: 'Noto Sans JP', sans-serif;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #4b484a;
    opacity: 1; /* Firefox */
    font-size: 15px;
  }

.form > .pass-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .form > .pass-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .form {
        padding-bottom: 0px;
    }

    body {
        background-color: #F4EEF4;
    }

    .generator {
        width: 100%;
        padding-top: 60px;
        padding-bottom: 0px;
        height: 100vh;

    }

    .pass-wrapper {
        height: 200px;
    }

    .form input{
        font-size: 17px !important;
        width: 85% !important;
        font-weight: bold;
        font-size: 22px !important;
        height: 60px !important;
    }

    svg {
        width: 80px;
        height: 80px;
        padding: 20px 20px 10px 20px;
        /* background-color: rgb(230, 231, 231); */
        
    }

    svg:hover {
        fill: #F4EEF4!important;
        background-color:#2a2a31!important;
        cursor: pointer;
    }

    .copied{
        margin-bottom: 40px;
        font-size: 16px!important;
    }

    .hide{
        margin-bottom: 40px;
        font-size: 16px!important;
    }
    /* .generator .form input {
        margin: 0;
    } */


  }

svg {
    margin: 5px 15px;
    padding-top: 10px;
}

svg:hover {
    fill: #93A7BA;
    cursor: pointer;
}

.copied {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    transition: 1s all ease;
    font-family: 'Noto Sans JP', sans-serif;
    transition: visibility 1s, opacity 0.5s linear;
}

.hide {
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    transition: 1s all ease;
    font-family: 'Noto Sans JP', sans-serif;
    transition: visibility 0.3s, opacity 0.3s ease-in-out;
}
